/*#content > div :first-child{*/
    /*background: #ff0300;*/
/*}*/
/*#content > div :nth-child(2){*/
    /*background: yellow;*/
/*}*/

html, body{
    height: 100%;
}

.element{
    width: 75px;
    height: 75px;
    background-color: #0b00ff;
}

#book{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

#book div {
    margin: 10px;
}

